// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #4EC42B;
$white: #FFFFFF;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Colorscheme of Timber App 


$timber-green: #4caf50;
$timber-lime-yellow: #eeff41;
$timber-lime-green: #aeea00;