<div class = "container">
  <div class = "filter-form">
    <h2>This will be a search filter-form</h2>
  </div>
  <div class = "treehouses-index-display">
  	<ul>
  	  <% @houses.each do |house| %>
      	<li class = "cards">
          <div class = "card-category"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dynjb5ftd/image/upload/v1589976617/treehouses/Treehouse_1_m2b59o.jpg)">
          <h3><%= link_to house.name, house_path(house) %></h3>
          <p><%= house.description %></p>
          <p><%= house.price %> | <%= house.location %></p>
        </div>
          
        </li>
      <% end %>
    </ul>
  </div>
</div>
