<div class="container">
  <div class="row d-flex flex-column align-items-center">
    <div class="col-8">
      <div class="card p-3">
        <h2>Add your Treehouse</h2>
        <%= render partial: "shared/form", locals: {house: @house} %>
      </div>
      <div class="links d-flex justify-content-center">
        <%= link_to "See all our available Treehouses", houses_path, class: 'btn timber-btn' %>
      </div>
    </div>
  </div>
</div>
