<div class="timber-container">
  <div class="col-6 d-flex flex-column align-items-center">
    <div class="card p-3">
      <h2>Add your Treehouse</h2>
      <%= render partial: "shared/form", locals: {house: @house} %>
    </div>
  </div>
  <div class= "links">
    <p><%= link_to "See all our available Treehouses", houses_path, class: 'btn treehouses' %></p>
  </div>
</div>
