<%= simple_form_for :search, url: houses_path, method: :get do |f|%>
  <div class="d-flex align-items-center">
    <input class="form-control string required" placeholder="eg: New Forest, UK" type="text" name="search[location]" id="search_location">
    <%= f.submit "Filter", class: "btn lime-button" %>
  </div>
<% end %>
