.timber-btn {
	background-color: black;
	color: white;
	border-radius: 4px;
	margin: 15px;
  font-weight: bold;
}

.timber-btn:hover {
  background-color: gray;
  color: black;
  border-radius: 4px;
  margin: 15px;
  font-weight: bold;
}

.treehouses {
  transition-duration: 0.4s;
  color: white;
}

.lime-button {
  color: #FFFFFF;
  background: #0caf60;
  transition: 0.2;
}
.lime-button:hover {
  color: white;
  background: #bfc811;
}

